# Environment variables
.env

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.coverage

# Virtual environment
.venv/

# Project-specific
# Ignore everything in tmp except .gitkeep and output/example
/tmp/*
!/tmp/.gitkeep
!/tmp/output/
/tmp/output/*/
!/tmp/output/example/
!/tmp/output/example/**
models/*
!models/.gitkeep

