# Environment variables
.env

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.coverage

# Virtual environment
.venv/

# Project-specific
# Ignore everything in tmp except .gitkeep and output/examples
/tmp/*
!/tmp/.gitkeep
!/tmp/output/
!/tmp/output/examples/
!/tmp/output/examples/**
/tmp/output/*/
!/tmp/output/examples/
!/tmp/output/examples/**
models/*
!models/.gitkeep

